/*  */

.strengthSection {
  margin-top: 10rem;
  margin-left: 6rem;
  scroll-margin-top: 80px;
  /* padding: 4rem 1rem;
  background-color: rgba(0, 0, 0, 1);
  border-radius: 12px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.4);
  color: white; */
}

.textWrapper {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  /* animation: fadeIn 1.2s ease; */
}

.title {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 2rem;
}

.list {
  list-style: none;
  padding: 0;
  font-size: 1.125rem;
  line-height: 1.8;
}

.list li {
  margin-bottom: 1.5rem;
  /* background-color: rgba(255, 255, 255, 0.05);
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3); */
}

/* Animation */
/* @keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
} */

/* Mobile */
@media (max-width: 768px) {
  .strengthSection {
    margin-left: 0;
    padding: 2rem 1rem;
  }
}

.textWrapper {
  text-align: center;
}
